#root {}

body {
  margin: 0;
}

.home-page-container {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.app-header {
  border-bottom: 1px solid #F1F1F1;
  background: #FFF;
  height: 116px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 40px;
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo-circle {
  width: 32px;
  height: 32px;
  background-color: #FFCF26;
  border-radius: 50%;
}

.logo-title {
  color: #000000;
  font-family: "Jokker TRIAL";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.72px;
  padding-left: 8px;
  cursor: pointer;
}

.menu-items {
  display: flex;
  flex-direction: row;
  margin-left: 290px;
  color: #646464;
  font-family: "Jokker TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  :hover {
    cursor: pointer;
    color: #000000;
    border-bottom: solid 2px #FFCF26;
  }
}

.menu-item {
  margin-left: 57px;
}

.menu-item-selected {
  color: #000000;
  border-bottom: solid 2px #FFCF26;
}

.separator {
  background: #FCFCFC;
  height: 20px;
}
